---
const { class: className, ...rest } = Astro.props;

import { getCollection } from 'astro:content';

const pages = (await getCollection('docs')).toSorted((a, b) => {
	return a.data.order - b.data.order
});
---
<nav class={className} {...rest}>
	<ul class="list-disc pl-5">
		{pages.map((page) => <li><a href={`/${page.id}`}>{page.data.title}</a></li>)}
	</ul>
</nav>