name: Build release APKs

on:
  push:
    tags:
      - '*'

jobs:
  build:
    permissions:
      contents: write
    name: Build release APKs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Set up Gradle build action
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: Get version name
        id: get-version
        run: echo "VERSION_NAME=$(./gradlew -q printVersionName)" >> $GITHUB_OUTPUT
      - name: Verify version name equals git tag
        if: ${{ github.ref_name != steps.get-version.outputs.VERSION_NAME }}
        run: exit 1
      - name: Decode Keystore
        run: echo "${{ secrets.SIGNING_KEY_STORE_BASE64 }}" | base64 -d - > keystore.jks
      - name: Build fdroid release APK
        env:
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
        run: ./gradlew :app:assembleFdroidDefaultRelease
      - name: Build full release APK
        env:
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
        run: ./gradlew -PenableAbiSplit :app:assembleFullDefaultRelease
      - name: Get changelog
        id: get-changelog
        run: |
          VERSION_CODE="$(./gradlew -q printVersionCode)"
          echo "CHANGELOG_PATH=fastlane/metadata/android/en-US/changelogs/${VERSION_CODE}.txt" >> $GITHUB_OUTPUT
      - name: Upload APKs as assets to the GitHub release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          name: ${{ steps.get-version.outputs.VERSION_NAME }}
          body: ""
          body_path: ${{ steps.get-changelog.outputs.CHANGELOG_PATH }}
          # Publish as a draft to allow creating immutable releases
          draft: true
          files: |
            app/build/outputs/apk/fdroidDefault/release/app-fdroid-default-release.apk
            app/build/outputs/apk/fullDefault/release/app-full-default-universal-release.apk
            app/build/outputs/apk/fullDefault/release/app-full-default-armeabi-v7a-release.apk
            app/build/outputs/apk/fullDefault/release/app-full-default-arm64-v8a-release.apk
      # Build APK set for Accrescent
      - name: Build release APK set for Accrescent
        env:
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
        run: ./gradlew :app:buildApksFullDefaultRelease
      - name: Upload release APK set as build artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v5
        with:
          name: app-fullDefaultRelease.apks
          path: app/build/outputs/apkset/fullDefaultRelease/app-fullDefaultRelease.apks
          retention-days: 7
      # Build app bundle for Google Play
      - name: Build app bundle for Google Play
        env:
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
        run: ./gradlew :app:bundleFullGplayRelease
      - name: Upload app bundle as build artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v5
        with:
          name: app-full-gplay-release.aab
          path: app/build/outputs/bundle/fullGplayRelease/app-full-gplay-release.aab
          compression-level: 0
          retention-days: 7
