name: Build debug APK

on:
  push:
    branches:
      - 'master'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: Build debug APKs
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: Build debug APKs
        run: ./gradlew assembleAll
      - name: Upload debug froid APK as artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: app-fdroid-default-debug.apk
          path: app/build/outputs/apk/fdroidDefault/debug/app-fdroid-default-debug.apk
          retention-days: 1
      - name: Upload debug full APK as artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: app-full-default-debug.apk
          path: app/build/outputs/apk/fullDefault/debug/app-full-default-debug.apk
          retention-days: 1
