name: Build website

on:
  push:
    branches:
      - 'master'
    tags:
      - '*'
  pull_request:
    paths:
      - 'website/**'
      - 'docs/**'

defaults:
  run:
    working-directory: ./website

jobs:
  build:
    name: Build website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
      - name: Setup Node 20
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - name: Install dependencies
        run: npm install
      - name: Build website with Astro
        run: npm run build
      - name: Upload website as GitHub Pages artifact
        if: startsWith(github.ref, 'refs/tags/')
        id: deployment
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
        with:
          path: website/dist/
  deploy:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4


